<div class="header">
    <div class="header-container">
      <img src="https://i.imgur.com/CSa9SAc.png" alt="Logo" class="logo">
      <div class="navbar">
        <a href="#about">About</a>
        <ng-container *ngIf="isLoggedIn; else notLoggedIn">
          <button mat-icon-button>
            <mat-icon>account_circle</mat-icon>
            {{ user?.name }}
          </button>
        </ng-container>
        <ng-template #notLoggedIn>
          <button mat-button (click)="openSignUpLoginDialog()">Login</button>
        </ng-template>
      </div>
    </div>
  </div>