<div class="dialog-container">
    <div class="dialog-header">
        <button class="back-button" (click)="closeDialog()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h2 class="title">Change Email Address</h2>
    </div>
    <div class="dialog-content">
        <form [formGroup]="emailForm" (ngSubmit)="submitNewEmail()">
            <p class="instruction-text">
                You will use the email address above to sign in to your profile
            </p>
            <h4 class="email-address-title">New E-mail Address is:</h4>
            <div class="input-group">
                <div class="input-wrapper">
                    <input type="email" formControlName="newEmail" #emailInput placeholder=" " [class.error-border]="showError"
                        (focus)="resetErrorFlag()" required>
                    <label for="newEmail">Email</label>
                    <mat-icon class="input-clear" *ngIf="showClearIcon()" [class.has-text]="showClearIcon()"
                        (click)="clearEmail()">close</mat-icon>
                </div>
                <div *ngIf="showError" class="error-message">
                    {{ getEmailErrorMessage() }}
                </div>
            </div>
            <div class="dialog-footer">
                <button class="submit-button" type="submit"
                    [disabled]="emailForm.get('newEmail')?.value === '' || showError">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>