<app-header></app-header>
<div *ngIf="instructor" class="instructor-profile">
  <div class="instructor-header">
    <div class="instructor-image-container">
      <img [src]="instructor.imageUrl" alt="Instructor Name" class="instructor-image">
      <div class="online-status" *ngIf="instructor"></div>
    </div>
    <div class="instructor-info">
      <h1>
        {{ instructor.name }}
        <mat-icon class="verified-icon" matTooltip="Verified Instructor">verified</mat-icon>
      </h1>
      <button mat-button class="message-instructor">
        <mat-icon>mail_outline</mat-icon>
        Message
      </button>
    </div>
    <div class="rating">
      <mat-icon>star</mat-icon>
      4.5/5 {{ instructor.rating }} ({{ instructor.reviews.length }} reviews)
    </div>
  </div>
  <div class="main-content">
    <div class="left-section">
      <div class="instructor-details">
        <div class="bio-section">
          <h2>About {{ instructor.name }}</h2>
          <p>With over 10 years of experience on the road, {{ instructor.name }} is
            passionate about teaching safe and efficient driving techniques.</p>
        </div>
        <div class="detail-section">
          <div class="detail-row">
            <div class="detail-item">

              <mat-chip-listbox aria-label="Transmissions">
                <mat-chip color="primary">
                  <img matChipAvatar src="./assets/manual-transmission.svg" alt="Manual Icon"> Manual
                </mat-chip>
                <mat-chip color="accent">
                  <img matChipAvatar src="./assets/automatic-transmission (1).svg" alt="Automatic Icon"> Automatic
                </mat-chip>
              </mat-chip-listbox>
            </div>
            <div class="detail-item">
              <mat-chip-listbox aria-label="Languages">
                <mat-chip color="accent">
                  <img matChipAvatar src="./assets/united-kingdom.svg" alt="English Flag"> English
                </mat-chip>
                <mat-chip color="warn">
                  <img matChipAvatar src="./assets/spain.svg" alt="Spanish Flag"> Spanish
                </mat-chip>
              </mat-chip-listbox>
            </div>
          </div>
          <div class="detail-row">

            <div class="detail-item">

              <mat-chip-listbox aria-label="Specializations">
                <mat-chip color="primary">
                  <img matChipAvatar src="./assets/shield.svg" alt="Defensive Driving Icon"> Defensive
                  Driving
                </mat-chip>
                <mat-chip color="accent">
                  <img matChipAvatar src="./assets/night.svg" alt="Night Driving Icon"> Night Driving
                </mat-chip>
              </mat-chip-listbox>
            </div>
          </div>
        </div>
      </div>

      <mat-tab-group>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>event</mat-icon> <!-- 'event' is a calendar icon from Material Icons -->
            Book a Lesson
          </ng-template>
          <div class="booking-section">

            <!-- Wrapper for date swiper -->
            <div class="date-swiper-container">
              
              <div class="swiper-and-navigation">
                <!-- Date Swiper (shown only when data is loaded) -->
                <div class="swiper-button-prev date-prev"></div>
                <!-- Skeleton Loader for Date Swiper -->
                <div class="date-swiper-section">
                  <div class="skeleton-loader dates-loader" [class.loading-complete]="!isLoadingDates">
                    <div class="fake-date-slide"></div>
                    <div class="fake-date-slide"></div>
                    <div class="fake-date-slide"></div>
                    <div class="fake-date-slide"></div>
                    <div class="fake-date-slide"></div>
                    <div class="fake-date-slide"></div>
                    <div class="fake-date-slide"></div>
                  </div>
                  <div class="swiper" #dateSwiperRef>
                    <div class="swiper-wrapper">
                      <div class="swiper-slide" *ngFor="let day of calendarDays; let i = index">
                        <div
                          [ngClass]="{'slide-content': true, 'empty': day.isEmpty, 'available': day.isAvailable && !day.isEmpty, 'unavailable': !day.isAvailable && !day.isEmpty, 'selected': i === selectedDayIndex && !day.isEmpty}"
                          (click)="day.isAvailable && !day.isEmpty ? selectDay(i) : null">
                          <div *ngIf="!day.isEmpty">
                            <div class="day-name">{{ day.date | date: 'EEE' }}</div>
                            <div class="day-number">{{ day.date | date: 'd' }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="swiper-button-next date-next"></div>
              </div>
            </div>

            <!-- Wrapper for time slots -->
            <div class="time-slots-container">
              <!-- Skeleton Loader for Time Slots Swiper -->
              <div class="skeleton-loader times-loader" [class.loading-complete]="!isLoadingTimes">
                <div class="fake-slide"></div>
                <div class="fake-slide"></div>
                <div class="fake-slide"></div>
                <div class="fake-slide"></div>
                <div class="fake-slide"></div>
              </div>

              <div class="swiper-and-navigation">

                <!-- Time Slots Swiper (shown only when data is loaded) -->
                <div class="swiper-button-prev time-prev"></div>
                <div class="swiper time-slots-swiper" #timeSlotsSwiperRef>
                  <div class="swiper-wrapper">

                  </div>
                </div>
                <div class="swiper-button-next time-next"></div>
              </div>
            </div>

            <!-- Wrapper for Curriculum Swiper -->
            <div class="curriculum-swiper-container">
              <div class="heading-container">
                <h2>Lesson Type</h2>

              </div>
              <!-- Module Navigation Buttons Container -->
              <div class="module-navigation-buttons">
                <button *ngFor="let module of modules; let i = index" (click)="navigateToModule(i)">
                  {{ module.moduleName }}
                </button>
              </div>
              <div class="swiper-and-navigation">
                <div class="swiper-button-prev curriculum-prev"></div>
                <div class="swiper curriculum-swiper" #curriculumSwiperRef>

                  <div class="swiper-wrapper">
                    <!-- Slides -->
                  </div>
                </div>
                <div class="swiper-button-next curriculum-next"></div>
              </div>
            </div>



            <div class="segmented-control">
              <div class="segment" [class.active]="!isAutomatic" (click)="setTransmission('manual')">Manual</div>
              <div class="segment" [class.active]="isAutomatic" (click)="setTransmission('automatic')">Automatic</div>
            </div>

            <div class="lesson-duration-container">
              <h2>Lesson Duration</h2>
              <div class="duration-buttons">
                <button *ngFor="let duration of instructor.lessonDuration" class="duration-button">
                  {{ duration }} Hours
                </button>
              </div>
            </div>

            <section class="pickup-locations">
              <div class="title-section">
                <h2 class="section-title">Meeting Location</h2>
                <button class="add-location-button" (click)="addNewLocation()" aria-label="Add new location"></button>
              </div>
              <div class="location-list">
                <div *ngFor="let location of pickupLocations" class="location-item">
                  <div class="map-container">
                    <div class="map-section">
                      <google-map [center]="{lat: location.coordinates.lat, lng: location.coordinates.lng}"
                        [zoom]="zoom" [options]="mapOptions">
                      </google-map>
                      <div class="map-center-marker">
                        <img src="assets/map-marker.svg" alt="Center Marker">
                      </div>
                    </div>
                  </div>

                  <div class="location-details">
                    <span class="label">{{ location.label }}</span>
                    <span class="address">{{ location.address }}</span>
                  </div>
                </div>
              </div>
            </section>

          </div>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon>shopping_cart</mat-icon> <!-- 'shopping_cart' is a cart icon from Material Icons -->
            Purchase Bundles
          </ng-template>
        </mat-tab>
      </mat-tab-group>
      <div class="reviews-section">
        <h2>Reviews</h2>
        <div class="overview-section">
          <div class="notice">
            Hey there! Just a heads-up: when you see the 'Verified Lyrns User' tag on a review, it means it's from
            someone
            who's actually taken a lesson with that instructor. We make sure of it. So, you're getting the real deal on
            feedback. Drive safe and choose wisely!
          </div>
          <div class="rating-box">
            <div class="instructor-rating">
              <span class="rating-value">{{ getAverageRating() }}/5</span>
              <div class="stars">
                <mat-icon *ngFor="let star of [1,2,3,4,5]">star</mat-icon>
              </div>
              <span class="review-count">Based on {{ instructor.reviews.length }} reviews</span>
            </div>
            <div class="divider"></div>
            <div class="star-breakdown">
              <div *ngFor="let starCount of getStarCounts()" class="star-row">
                <span class="star-label">{{ starCount.rating }}★</span>
                <div class="bar-container">
                  <div class="filled-bar" [style.width.%]="starCount.percentage"></div>
                </div>
                <span class="count">{{ starCount.count }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="reviews-list">
          <div class="review" *ngFor="let review of instructor.reviews">
            <div class="reviewer-info">
              <img [src]="instructor.imageUrl" alt="Reviewer Name" class="reviewer-image">
              <!-- Assuming you might want to display reviewer name in the future -->
              <!-- <span class="reviewer-name">{{ review.reviewerName }}</span> -->
            </div>
            <div class="review-content">
              <div class="review-rating">
                <mat-icon>star</mat-icon> {{ review.rating }}/5
              </div>
              <p>{{ review.comment }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="cart-section">
      <div class="cart-header">Your Cart</div>
      <div class="cart-items-container">
        <div class="cart-item">
          <div class="item-details">
            <p>Lesson on 20th Oct, 10:00 AM</p>
            <p>Duration: 1 hour</p>
            <p>Price: £50</p>
          </div>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
        <div class="cart-item">
          <div class="item-details">
            <p>Lesson on 20th Oct, 10:00 AM</p>
            <p>Duration: 1 hour</p>
            <p>Price: £50</p>
          </div>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div class="cart-total">
        Total: £140 (2 Hours)
      </div>
      <button mat-raised-button class="proceed-to-payment-btn" (click)="openPaymentDialog()">
        <mat-icon>payment</mat-icon>
        Book
      </button>
    </div>
  </div>
</div>
<app-footer></app-footer>