<app-header></app-header>
<app-banner (instructorsFetched)="handleInstructorsFetched($event)"></app-banner>
<div class="main-content">
  <div class="sidenav-container" *ngIf="searched">
    <app-filter-panel (filtersChanged)="handleFiltersChanged($event)"></app-filter-panel>
    <div class="sidenav-content">
      <div class="container">
        <div class="instructor-container" *ngIf="searched">
          <div class="results-header">
            <h1>
              {{ instructors.length }} nearby instructors
            </h1>
            <div class="sort-options">
              <mat-form-field appearance="fill">
                <mat-label>Sort by</mat-label>
                <mat-select [(value)]="sortOption" (selectionChange)="onSortOptionChange($event.value)">
                  <mat-option value="rating">Rating</mat-option>
                  <mat-option value="price">Price</mat-option>
                  <mat-option value="reviews">Number of reviews</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <app-instructor-card *ngFor="let instructor of instructors" [instructor]="instructor"></app-instructor-card>
        </div>
      </div>
    </div>
    <!-- <app-cart></app-cart> -->
  </div>
</div>
<app-footer></app-footer>