<div class="container">
  <form [formGroup]="searchForm" (ngSubmit)="onSearchInstructors()" [ngClass]="{ 'search-form': true, 'search-form-initial': !searched, 'search-form-top': searched }">
    <div class="form-group">
      <label for="postcode">Postcode:</label>
      <input type="text" class="form-control" id="postcode" formControlName="postcode">
    </div>
    <button (click)="onSearchInstructors()">Search</button>
  </form>

  <div *ngFor="let instructor of instructors" class="instructor-card">
    <div class="instructor-info">
      <div class="instructor-image">
        <img [src]="instructor.imageUrl" alt="Instructor Image">
      </div>
      <div class="instructor-details">
        <h3 class="instructor-name">{{ instructor.name }}</h3>
        <p class="instructor-distance">Distance: {{ instructor.distance }} miles</p>
      </div>
    </div>
    <button (click)="onBookInstructor(instructor)">Book</button>
  </div>
</div>
