<a [routerLink]="['/instructor', instructor._id]" class="instructor-card-link">
    <div class="instructor-card">
        <div class="left-section">
            <div class="instructor-image">
                <img [src]="instructor.imageUrl" alt="Instructor Image">
            </div>
            <div class="info-section">
                <h3 class="instructor-name">
                    {{ instructor.name }}
                    <mat-icon class="verified-icon" matTooltip="Verified Instructor">verified</mat-icon>
                </h3>
                <div class="rating-section">
                    <mat-icon>star</mat-icon>
                    <span class="rating">{{ averageRating | number:'1.1-1' }}</span>
                    <span class="reviews">({{ totalReviews }} reviews)</span>
                </div>
                <div class="price-section">
                    <span>£{{ instructor.price }}/Hour</span>
                </div>
            </div>
        </div>
        <div class="right-section">
            <div class="detail-item">
                <mat-icon>directions_car</mat-icon>
                <span>2015 Toyota Yaris</span>
                <!-- <span>{{ instructor.car }}</span> -->
            </div>
            <div class="detail-item">
                <mat-icon class="transmission-icon">settings</mat-icon>
                <span>Manual</span>
            </div>
            <div class="detail-item">
                <mat-icon>check_circle</mat-icon>
                <span>Available this week</span>
            </div>
        </div>
        <div class="cta-section">
            <button mat-stroked-button>View Profile</button>
        </div>
    </div>
</a>