<mat-vertical-stepper linear>
  <mat-step [stepControl]="lessonForm">
    <form [formGroup]="lessonForm">
      <ng-template matStepLabel>Lesson Details</ng-template>
      <mat-list>
        <mat-list-item *ngFor="let lesson of lessonsInCart">
          <h3 matLine>{{ lesson.name }}</h3>
          <p matLine>{{ lesson.description }}</p>
        </mat-list-item>
      </mat-list>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="paymentForm">
    <form [formGroup]="paymentForm">
      <ng-template matStepLabel>Payment</ng-template>
      <!-- Add your payment form fields here -->
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Confirm Booking</ng-template>
    <p>Review and confirm your booking.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="confirmBooking()">Confirm</button>
    </div>
  </mat-step>
</mat-vertical-stepper>
