<div class="dialog-container">
    <div class="dialog-header">
        <button class="back-button" (click)="closeDialog()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <h2 class="title">Change Phone Number</h2>
    </div>
    <div class="dialog-content">
        <form [formGroup]="phoneForm" (ngSubmit)="submitNewPhoneNumber()">
            <p class="instruction-text">
                You will use the phone number above for account recovery
            </p>
            <h4 class="phone-number-title">New Phone Number is:</h4>
            <div class="input-group">
                <div class="input-wrapper">
                    <input type="tel" formControlName="newPhoneNumber" #phoneInput placeholder=" " [class.error-border]="showError"
                        (focus)="resetErrorFlag()" required>
                    <label for="newPhoneNumber">Phone Number</label>
                    <mat-icon class="input-clear" *ngIf="showClearIcon()" [class.has-text]="showClearIcon()"
                        (click)="clearPhoneNumber()">close</mat-icon>
                </div>
                <div *ngIf="showError" class="error-message">
                    {{ getPhoneNumberErrorMessage() }}
                </div>
            </div>
            <div class="dialog-footer">
                <button class="submit-button" type="submit"
                    [disabled]="phoneForm.get('newPhoneNumber')?.value === '' || showError">
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>
